@import url(../tag/tag.css);
@import url(../button/button.css);
@import url(../bookmark/bookmark.css);

.questioncard {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  border: 5px solid var(--main-border-color);
  border-radius: 14px;
  margin-bottom: 4.5em;
  padding: 1em;
  background-color: var(--main-bg-color);
  gap: 1.5em;
}
