.questioncard--bookmark {
  all: unset;
  position: absolute;
  top: -10px;
  right: 15px;
  width: 2em;
  height: 2em;
}

.card__bookmark {
  all: unset;
  user-select: none;
  position: absolute;
  height: 10px;
  right: 10px;
  top: -10px;
  border: 10px solid #333;
  border-bottom-color: transparent;
}

.card__bookmark--active {
  border-color: hotpink;
  border-bottom-color: transparent;
}

.card__svgBookmark--active {
  background-color: aqua;
}
