.navbar--wrapper {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  margin-top: 4em;
  background-color: var(--callToAction-button-color);
}

.navbar--anchor {
  list-style-type: none;
  width: 25vw;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  text-decoration: none;
}

.navbar--anchor:hover,
.navbar--wrapper-active {
  background-color: var(--navbar-hover-color);
}

.navbar--img {
  width: 3em;
  height: 3em;
}

.navbar--item {
  list-style-type: none;
}
